<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kcirqueapps.laundryapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.OfferItemActivity"></activity>
        <activity android:name=".activity.AddItemActivity" />
        <activity android:name=".activity.PackageDetailsActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.PackageItemOrderActivity" />
        <activity android:name=".activity.PackageOrderDetailsActivity" />
        <activity android:name=".activity.SingleOrderDetailsActivity" />
        <activity android:name=".activity.ProfileActivity" />
        <activity android:name=".activity.PlaceOrderActivity" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.CartActivity" />
        <activity android:name=".activity.AddCartActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>